/*****************************************************************
***********************************************************
     2. GLOBAL STYLES FOR ALL PAGES
***********************************************************
**********************************************************************/


  /* GLOBAL VARIABLES */

:root {
  /* typography*/
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Source Sans Pro', serif;
  --fw-l: 200;
  --fw-m:400;
  --fw-b:700;
  --fs-base: 1rem;
  
  /* colors  */
  
  --primary-color: #c6ceea;
  --secondary-color: #2937B7;
  --tertiary-color: #B232BD;
  --neutral-lt-color: #f8f9fa;
  
  /* helper  */
  --spacer: 1.5rem;
  --spacer-dbl: calc(var(--spacer) * 2);
  --border-radius: 6px;
  --shadow: 0 0 6px rgba(0,0,0,.3);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--primary-font);
    max-width: 1800px;
    margin: auto;
    min-height: 100vh;
    /* width: 100%; */
    /* height: 100%; */
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
 
  }
  
  /********************************************************
***********************************************************
     3. HEADER
***********************************************************
**************************************************************/

  header {   
    background-color: var(--primary-color);
    margin-bottom: 0;
    color: var(--secondary-color);
  }

  .logo {
    display: flex;
    flex-direction: row;
    margin: .6em .6em 0 .6em;
  }
  
  a {
    text-decoration: none;
    color: var(--secondary-color);
  }

   /********************************************************
***********************************************************
     4. NAV
***********************************************************
**************************************************************/

.navigation { margin-top: .5em; }

.navigation ul {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}

.navigation li{
  padding: .4em;
  border-bottom: none;
  font-weight:400;
  /* font-family: var(--primary-font); */
  }

.navigation a {
  text-transform: uppercase;
  display: block;
  padding: .8em;
  font-weight: var(--fw-b);
  font-size: calc(var(--fs-base) * 1.1);
}

.navigation a:hover {  color: #4BA2C2; }

.navigation a:active {  color: #B232BD; }


   /********************************************************
***********************************************************
     5. MAIN
***********************************************************
**************************************************************/
 
  main {
    margin: 1.5em;
  }
  
  main article {
    margin: 1em 1.5em 0 1.5em;;
    line-height: 1.4em;
    font-weight: var(--fw-l);
  }

  main h1 {
    color: #2848BE;
    font-size: calc(var(--fs-base)*1.3);
    font-weight: var(--fw-b);
    margin-bottom: .5em;
    margin-top: 1em;
    line-height: 1.1em;
  }

  main h2 {
    color: #B232BD;
    font-size: calc(var(--fs-base)*1.2);
    /* margin-bottom: .3em;
    margin-top: 1em; */
    font-weight: var(--fw-b);
    margin: 1em ;
}

  /* main h3 {
    color: var(--secondary-color);
    font-weight: var(--fw-l);
   
} */

div.prodPic {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.artCards {
  border: solid 1px var(--secondary-color);
  border-radius:  var(--border-radius);
  box-shadow: var(--shadow);  
  margin: 1em;


}

.prodPic h2 {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--neutral-lt-color);
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5em;
}
 .prodPic img {
  margin: auto;
 }

 .prodPic p {
  padding: .5em;
}


#catalogue {
  color:var(--secondary-color);
}
 
.marcelo h3 {
  margin: .5em .5em 1em .5em; 
}

article p {
  margin: .5em;
}

.products a, .description a {
    color: var(--tertiary-color);
    font-weight: var(--fw-m);
}

.articlePics {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2em;
    justify-content:space-around;
    margin-bottom: 1em;
}

#marceloPic {
  border-radius: 10em;
  border: solid 1px var(--secondary-color);
  max-width: 40%;
}

.marcelo h2, .marcelo h3, .marcelo a {
    margin: .2em 0 ;
}

.email {
    color:var(--secondary-color);
    /* font-family: var(--primary-font); */
    font-weight: var(--fw-m);
}

.DEI ul li::before {
  content: "\2022"; 
  color:var(--secondary-color);
  display: inline-block; 
  width: 1.5em; 
  margin-left: 1em; 
} 

 /********************************************************
***********************************************************
     5. CONTACT FORM
***********************************************************
**************************************************************/

.contactForm {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 #simpleForm {
  margin: auto ;
  margin-top: 3em;
  padding: 1.5em;
  border: solid 2px var(--secondary-color);
  border-radius: 10px;
  min-width: 200px;
  max-width: 350px;
 }


/*
.contactForm p {
  font-size: 1em;
  margin-bottom: .5em;
}

form {
  background-color: #fff;
  border: solid 1px #666;
  padding: 1em;
  margin-bottom: 2em;
}

fieldset {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

legend {  padding: .5em; }

form li {
  margin-bottom: .7em;
  padding: .2em;
}

input[type="radio"]+label, input[type="checkbox"]+label { ********ATTRIBUTE SELECTOR****** */
  /* display: inline;
  padding-right: .5em;
}

input, textarea, select{
  padding: .5em;
  font-family: 'Montserrat', sans-serif;
  border: solid 1px #1161A2;
  border-radius: 3px;
}

.radio li {  display: inline-block; }

.span {
  padding-bottom: .5em;
  display: block;
}

.rSign { font-size: 1.5em; }

#message {
  display: block;
  width: 100%;
  resize: none;
  height: 200px;
}

#required {
  color: black;
  margin: 0;
  padding: 0 0.2em 1em;
  font-size: 1em;
}

#submit {
  padding: 1em 10em;
  font-size: .8em;
  text-transform: uppercase;
  color: white;
  background-color:#B232BD;
  display: block;
  margin: auto;
}

#contactUs {
  margin: 1em auto;
  padding: 1em;
  background-color: #9BA9D7;
} */

 /********************************************************
***********************************************************
     5. FOOTER
***********************************************************
**************************************************************/

footer div {
    padding: 1em 3em;
    background-color: var(--primary-color);
    margin-top: 2em;
    color: var(--tertiary-color);
    font-family: var(--primary-font);
}

#paulina {
  color: var(--secondary-color);
  margin-top: 1em;
  font-size: 1em;
}
footer a {
    color:var(--tertiary-color);
    line-height: 1.5em;
}

footer a:hover {  color: #4BA2C2; }

footer a:active {  color:var(--secondary-color); }

.copy {
    font-size: .9em;
    color: gray;
    line-height: 2em;
    margin-top: 1em;
}


/* beginning Medium and desktop size screen*/

@media screen and (min-width:701px) {

  .navigation ul {
    justify-content:flex-start;
  }

  main {
    font-size: 1.2em;
    max-width: 70%;
    margin: auto;
    /* margin-left: 5em; */
    /* margin-right: 5em;  */
}


 main article {
  margin: auto;
  margin-top: 2em;
 }

div.prodPic {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
 
  /*******ABOUT US HOME*********/
.grouping2 {
  display: grid;
  gap: 2em;
}

#p1 {
  grid-column: 1 / span 3 ;
  grid-row: 1 / 1;
}
#marceloInfo {
  grid-column: 1/ 2;
  grid-row: 2 / 3;
}

#descPic {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.marcelo h2, .marcelo h3, .marcelo a {
  margin: .1em;
}

#simpleForm {
  max-width: 500px;
}
}

  